<div class="show">
  <h1>RESULTS</h1>
  <p><%= link_to "Go back", index_path %> to homepage</p>
  <p><img src="<%= @image_path %>" class="w-100"></p>
  <h3><%= @image_title %></h3>
  <p><%= @image_description %></p>
</div>